<div id="login-form-wrap">
  <img src="assets/logo.webp" width="250" height="150">
  <form [formGroup]="createForm" (ngSubmit)="onSubmitCreate()" id="login-form">
    <p>
      <input id="roomCreate" type="hidden" [(ngModel)]="username">
    </p>
    <p>
      <input type="submit" id="login" value="Create Game">
    </p>
  </form>

  
    <hr style="width:70%;height:1px;border-width:0;color:gray;background-color:rgb(196, 193, 193)">
  

    <h5>OR</h5>


  
  <hr style="width:70%;height:1px;border-width:0;color:gray;background-color:rgb(196, 193, 193)">
 
  <form [formGroup]="joinForm" (ngSubmit)="onSubmitJoin()" id="login-form">
    <p>
      <input type="text" id="roomJoin" name="roomJoin" placeholder="Friend's username" required><i
        class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="submit" id="login" value="Join Game">
    </p>
  </form>

</div>